<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Header 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsa quisquam
      modi?
    </p>
  </header>
</section>
<section class="block block--black block--skewed-right">
  <div class="container">
    <h2 class="block__heading block__heading--white">Header 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ipsa quisquam
      modi?
    </p>
  </div>
</section>
